:root {
  --color-text-main: #2F3136;
  --color-text-lighter: #5D6372; 
  --font-size-main: 14px;
  --font-size-sub: 12px;
  --header-color:  #1A0931;
  --quarter-container-border: #F2F2F4;
  --task-container-border: #E4E4E8;
  --create-btn-color: #5E20B3;
  --progress-btn-color: #B7BDC9;
  --system-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --border-radius-value: 4px;
}

* {
  box-sizing: border-box;
}

body, h2, p {
  margin: 0;
  color: var(--color-text-main);
  font-family: 'Open Sans', var(--system-font);
}

h2 { 
  font-weight: bold;
}

p {
  font-size: var(--font-size-main);
}

.small-text {
  color: var(--color-text-lighter);
  font-size: var(--font-size-sub);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex;
}

.body-subheader-section > h2{
  font-size: 20px;
  margin-bottom: 30px;
}

.task-detail > p {
  font-weight: bold;
}

.header-section {
  height: 100vh;
  background-color: var(--header-color);
  width: 68px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.body-section {
  padding: 20px 40px;
}

.progress-section {
  margin-top: 20px;
}

.quarter-section,
.months-section {
  margin-top: 5px;
}

.quarter-container {
  border: 1px solid var(--quarter-container-border);
  padding: 0 10px;
  width: 306px;
  height: 340px;
}

.task-container {
  border: 1px solid var(--task-container-border);
  padding: 15px;
  height: 116px;
  width: 282px;
}

.task-container,
.create-container,
.months-section {
  margin-bottom: 10px;
}

.progress-number {
  margin: 0 70% 0 3% ;
}

.create-btn {
  margin-right: 2.5%;
}

.sub-body-section,
.task-container {
  border-radius: var(--border-radius-value);
}

button {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.create-btn {
  color: var(--create-btn-color);
}

.progress-btn {
  color: var(--progress-btn-color);
}
