* {
  box-sizing: border-box;
}

body, h2, p {
  margin: 0;
  color: #2F3136;
  font-family: 'Open Sans', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.body-subheader-section > h2{
  font-size: 20px;
  margin-bottom: 30px;
}

.task-detail > p,
.months-section > p,
.create-text-btn > p {
  font-size: 14px;
}

.quarter-section > p,
.progress-number > p {
  font-size: 12px;
}

.progress-number > p,
.quarter-section > p,
.months-section > p {
  color: #5D6372;
}

.task-detail > p {
  font-weight: bold;
}

.main-section,
.progress-section,
.create-container,
.sub-body-section,
button,
.progress-icon,
.progress-number,
.btn-container {
  display: flex;
}

.progress-icon,
.progress-number,
.create-text-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section {
  height: 100vh;
  background-color: #1A0931;
  width: 68px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

h2 { 
  font-weight: bold;
}

.body-section {
  padding: 20px 40px;
}

.progress-section {
  margin-top: 20px;
}

.quarter-section,
.months-section {
  margin-top: 5px;
}

.quarter-container {
  border: 1px solid #F2F2F4;
  padding: 0 10px;
  width: 306px;
  height: 340px;
}

.task-container {
  border: 1px solid #E4E4E8;
  padding: 15px;
  height: 116px;
  width: 282px;
}

.task-container,
.create-container,
.months-section {
  margin-bottom: 10px;
}

.progress-number {
  margin: 0 70% 0 3% ;
}

.create-btn {
  margin-right: 2.5%;
}

.sub-body-section,
.task-container {
  border-radius: 5px;
}

button {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.create-btn {
  color: #5E20B3;
}

.progress-btn {
  color: #B7BDC9;
}
